%OpenSans-Regular {
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
}

%OpenSans-Bold {
  font-family: "OpenSans-Bold", sans-serif;
  font-weight: 700;
}

%WorkSans-Regular {
  font-family: "WorkSans-Regular", sans-serif;
  font-weight: 400;
}

%WorkSans-Bold {
  font-family: "WorkSans-Bold", sans-serif;
  font-weight: 700;
}